@import "../../../styles/variables";
@import '../../../styles/mixins';

.form_btn{
    [class~="sz-xlg"] {
        border-radius: $border_radius;
        height: 58px;
        width: 300px;
        font-size: $f-18;
        padding: 0 50px;
        font-weight: $fw-600;
    }
    [class~="sz-lrg-18"] {
        border-radius: $border_radius;
        height: 58px;
        width: 200px;
        font-size: $f-18;
        padding: 0 50px;
        font-weight: $fw-600;
    }
    [class~="sz-lrg-16"] {
        border-radius: $border_radius;
        height: 52px;
        width: 240px;
        font-size: $f-16;
        padding: 0 50px;
        font-weight: $fw-400;
    }
    [class~="sz-med-16"] {
        border-radius: $border_radius;
        height: 50px;
        width: 200px;
        font-size: $f-16;
        padding: 0 40px;
        font-weight: $fw-400;
    }

    [class~="sz-med-14"] {
        border-radius: $border_radius;
        height: 42px;
        width: 161px;
        font-size: $f-14;
        padding: 0 25px;
        font-weight: $fw-400;
    }

    [class~="sz-sml-14"] {
        border-radius: $border_radius_4px;
        height: 34px;
        width: 93px;
        font-size: $f-14;
        padding: 0 15px;
        font-weight: $fw-400;
    }

    [class~="sz-sml-12"] {
        border-radius: $border_radius_3px;
        height: 24px;
        width: 94px;
        font-size: $f-12;
        padding: 0 10px;
        font-weight: $fw-400;
    }
}