@mixin xs_devices() {
    @media (max-width: 414px) {
        @content;
    }
}

@mixin sm_devices() {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin md_devices() {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin lg_devices() {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin xl_devices() {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin xxl_devices() {
    @media (min-width: 1400px) {
        @content;
    }
}
