$primary-800   : #031A26;
$primary-700   : #2C404E;     /*Heading, paragraph, body text, View example button, Popup modal shadow , Popup modal bkd - 80%*/
$primary-650   : #3A4F61; 
$primary-600   : #576C80;
$primary-500   : #849AAE;     /*Toggle off, Tertiary button*/
$primary-400   : #B2C2D0;      /*Crossed out text (checkout),Placeholder in text field*/
$primary-300   : #CEDAE5;     /*Horizontal rows,Filter sidebar title sections bkd*/
$primary-200   : #DFE7EF;      /*Section background, Text field outlines,Expanded left-drawer menu bkd*/
$primary-150   : #E6EDF4;     /*Primary box slight darker  selection*/
$primary-100   : #F0F5F9;      /*Primary box bkd, Unselected button, Category filter menu bkd, Manage pages leftside drawer menu, Default sidebar bkd, Dropdown menu highlight*/
$primary-50    : #F5F8FA;     /*Calendar day-highlight bkd*/
$action-700    : #156CBD;
$action-500    : #48A0F3;     /*Primary action button color, Hyperlink text, Info icon, Shared meme checkmark icon bkd*/
$action-300    : #A4D3FF;
$action-100    : #DDEFFF;     /*Notification box bkd */
$attention-700 : #982805;
$attention-500 : #FF6756;     /* Primary red action, Error text, Alert info icon, Archived article icon bkd */
$attention-300 : #FFBCB2;
$attention-100 : #FFE8E5;     /* Error box bkd */
$success-500   : #38AF00;      /* Success text */
$success-100   : #E7FFCF;     /* Success box bkd */
$notice-500    : #FFDD6D;      /* Preview btn */
$notice-100    : #FFF5D4;     /* Notice box bkd */
$toggleOn      : #87D23A;
$white         : #FFF;
$black         : #000;

$border_radius    : 5px;
$border_radius_4px    : 4px; /* for medium button input component  */
$border_radius_3px    : 3px; /* for small button input component  */

// Fontsize

$f-8: 8px;
$f-10: 10px;
$f-12: 12px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-24: 24px;
$f-26: 26px;
$f-28: 28px;
$f-30: 30px;
$f-32: 32px;
$f-34: 34px;
$f-36: 36px;
$f-38: 38px;
$f-40: 40px;
$f-42: 42px;
$f-44: 44px;
$f-46: 46px;
$f-48: 48px;
$f-50: 50px;

$lh-8: 8px;
$lh-10: 10px;
$lh-12: 12px;
$lh-14: 14px;
$lh-16: 16px;
$lh-18: 18px;
$lh-20: 20px;
$lh-22: 22px;
$lh-24: 24px;
$lh-26: 26px;
$lh-28: 28px;
$lh-30: 30px;
$lh-32: 32px;
$lh-34: 34px;
$lh-36: 36px;
$lh-38: 38px;
$lh-40: 40px;
$lh-42: 42px;
$lh-44: 44px;
$lh-46: 46px;
$lh-48: 48px;
$lh-56: 56px;

$fw-700:700;
$fw-600:600;
$fw-500:500;
$fw-400:400;