@use "./variables" as variable;
@use "./mixins" as mixin;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family-sans-serif: "PT Sans", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

$theme-colors: (
  "primary-800"   : #031A26,
  "primary-700"   : #2C404E,      /*Heading, paragraph, body text, View example button, Popup modal shadow , Popup modal bkd - 80%*/
  "primary-650"   : #3A4F61,
  "primary-600"   : #576C80,
  "primary-500"   : #849AAE,      /*Toggle off, Tertiary button*/
  "primary-400"   : #B2C2D0,      /*Crossed out text (checkout),Placeholder in text field*/
  "primary-300"   : #CEDAE5,      /*Horizontal rows,Filter sidebar title sections bkd*/
  "primary-200"   : #DFE7EF,      /*Section background, Text field outlines,Expanded left-drawer menu bkd*/
  "primary-150"   : #E6EDF4,      /*Primary box slight darker  selection*/
  "primary-100"   : #F0F5F9,      /*Primary box bkd, Unselected button, Category filter menu bkd, Manage pages leftside drawer menu, Default sidebar bkd, Dropdown menu highlight*/
  "primary-50"    : #F5F8FA,      /*Calendar day-highlight bkd*/
  "action-700"    : #156CBD,
  "action-500"    : #48A0F3,      /*Primary action button color, Hyperlink text, Info icon, Shared meme checkmark icon bkd*/
  "action-300"    : #A4D3FF,
  "action-100"    : #DDEFFF,      /*Notification box bkd */
  "attention-700" : #982805,
  "attention-500" : #FF6756,      /* Primary red action, Error text, Alert info icon, Archived article icon bkd */
  "attention-300" : #FFBCB2,
  "attention-100" : #FFE8E5,      /* Error box bkd */
  "success-500"   : #38AF00,      /* Success text */
  "success-100"   : #E7FFCF,      /* Success box bkd */
  "notice-500"    : #FFDD6D,      /* Preview btn */
  "notice-100"    : #FFF5D4,      /* Notice box bkd */
  "toggleOn"      : #87D23A,      /* toggleOn events */
  "white"         : #FFF,        /* Primary White actions */
  "black"         : #000
);

.cursor-point{
  cursor: pointer;
}
.border-radius{
  border-radius: 5px !important;
}
.border-radius-4px{
  border-radius: 4px !important;
}
.border-radius-3px{
  border-radius: 3px !important;
}
.boxshadow{
  box-shadow: 4px 4px 17px var(--bs-primary-300);
}

// font size & weight
.f-10 {
  font-size: 10px;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-30 {
  font-size: 30px;
}
.f-36{
  font-size: 36px;
}
.f-38{
  font-size: 38px;
}
.f-40 {
  font-size: 40px;
}
.f-46 {
  font-size: 46px;
}
.f-48 {
  font-size: 46px;
}
.lh-26{
  line-height: 26px;
}
.fs-i {
  font-style: italic;
}
.fs-n {
  font-style: normal;
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
// Line height
.lh-10{
  line-height: 10px;
}
.lh-12{
  line-height: 12px;
}
.lh-14{
  line-height: 14px;
}
.lh-16{
  line-height: 16px;
}
.lh-18{
  line-height: 18px;
}
.lh-20{
  line-height: 20px;
}
.lh-22{
  line-height: 22px;
}
.lh-24{
  line-height: 24px;
}
.lh-26{
  line-height: 26px;
}
.lh-28{
  line-height: 28px;
}
.lh-30{
  line-height: 30px;
}
.lh-32{
  line-height: 32px;
}
.lh-34{
  line-height: 34px;
}
.lh-36{
  line-height: 36px;
}
.lh-38{
  line-height: 38px;
}
.lh-40{
  line-height: 40px;
}
.lh-42{
  line-height: 42px;
}
.lh-44{
  line-height: 44px;
}
.lh-46{
  line-height: 46px;
}
.lh-48{
  line-height: 48px;
}
.lh-56{
  line-height: 56px;
}

@import "~bootstrap/scss/bootstrap";

a {
  color: inherit;
  text-decoration: none;
}