@import './variables';
@import './mixins';

.Ic_login_main {

  [class~="Login_container"] {
    max-width: 1140px;
  }

  width: 100%;
  min-height: 750px;

  [class~="Inner-grid"] {
    padding: 196px 39px;

    @include xs_devices {
      padding: 35px 15px 0px;
    }

    p {
      font-size: $f-22;
      line-height: $lh-24;

      @include sm_devices() {
        font-size: $f-16;
        text-align: center;
      }
    }

    h1 {
      font-size: $f-48;
      line-height: $lh-56;
      letter-spacing: 2px;
      margin-bottom: 40px;

      @include sm_devices() {
        font-size: $f-34;
        line-height: $lh-36;
        letter-spacing: 2px;
        margin-bottom: 35px;
      }
    }

    [class~="login_form"] {
      max-width: 326px;
      background-color: $white;
      padding: 16px;
      position: relative;
      margin: auto;

      [class~="card-body"] {
        padding: 0;
      }

      h5 {
        font-weight: $fw-700;
        margin-top: 35px;
        color: $primary-700;
        font-size: $f-18;
      }

      img {
        position: absolute;
        top: -40px;
        left: 35%;

        @include md_devices() {
          width: 50px;
          left: 40%;
        }
      }

      input[type=text],
      input[type=password] {
        width: 100%;
        background-color: $primary-100 !important;
        border-color: $primary-100;
        border-radius: 3px;
        color: #2c404e !important;
        font-size: 14px;
        font-weight: 400;
        height: 50px;
        border: 0px;
      }

      label {
        font-size: $f-12;
      }

      [class~="password_sensitive"] {
        p {
          font-size: $f-12;
          color: $primary-500;
          text-align: center;
          margin-bottom: 0;
          // padding: 0;
          white-space: nowrap;

          @include md_devices() {
            font-size: $f-10;
          }
        }
      }

      [class~="forgot_password"] {
        text-align: right;

        // padding: 0;
        a {
          font-size: $f-12;
          color: $action-500;
        }

        @include md_devices() {
          text-align: center;

          a {
            font-size: $f-10;
          }
        }
      }

      button {
        @include md_devices() {
          width: 140px;
        }
      }
    }

    [class~="login_Card"] {
      width: 328px;
      min-height: 345px;

      @include md_devices() {
        width: 320px;
      }

      [class~="Ic-logo"] {
        position: absolute;
        top: -47px;
        left: 0;
        width: 100%;
        text-align: center;

        img {
          width: 83px;
          height: 83px;
        }

        @include md_devices() {
          top: -44px;

          img {
            width: 50px;
          }
        }
      }

      input[type=text],
      input[type=password] {
        width: 100%;
        background-color: $primary-100 !important;
        border-color: $primary-100;
        border-radius: 3px;
        color: #2c404e !important;
        font-size: 14px;
        font-weight: 400;
        height: 50px;
        border: 0px;
      }

      [class~="Card-Content"] {
        h5 {
          margin-top: 35px;
          margin-bottom: 10px;
          // font-style: normal;
          // font-size: 18px;
          // color: #2C404E !important;

          @include md_devices() {
            margin-top: 25px;
            margin-bottom: 15px;
          }
        }

        [class~="error-disp"] {
          min-height: 24px;
        }
      }

      [class~="frgt-link"] {
        text-align: end;

        p {
          font-size: $f-12;
        }
      }

      [class~="reset-link-txt "] {
        font-size: $f-12;
      }

      [class~="login-btn"] {
        min-height: 40px;
        width: 140px;
        cursor: pointer;
        line-height: $lh-24;
        margin: 0 auto !important;
        padding: 10px 30px 10px 30px;
        font-weight: 700;
        border-radius: $border_radius;

        @include md_devices() {
          line-height: $lh-36;
          padding: 0px;
        }
      }

      [class~="remember"] {
        display: flex !important;
        justify-content: center !important;

        [class~=form-check-input] {
          cursor: pointer;
        }

        [class~=form-check-label] {
          margin-left: 5px;
        }
      }

    }
  }

  [class~="login-more"] {
    @include sm_devices() {
      text-align: center;
    }
  }
}

.CmdList {
  [class~="Login_container"] {
    max-width: 1140px;
  }

  padding: 50px 0 80px;

  @include sm_devices() {
    padding: 66px 0px;

    [class~="container"] {
      padding: 0px;
    }
  }

  [class~="Ic-image-content"] {
    h2 {
      margin-top: 20px;
    }
  }

  [class~="emoji"] {
    vertical-align: -0.1em;
  }

  [class~="card-columns"] {
    margin-top: 60px;
    padding: 0 15px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    @include sm_devices() {
      padding: 0px;
    }

    img {
      margin-bottom: 35px !important;
      max-width: 100%;
    }

    @include sm_devices() {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;

      img {
        max-width: 100%;
      }
    }
  }
}

.LearnMore {

  [class~="Login_container"] {
    max-width: 1140px;
  }

  padding: 124px 0px;
  min-height: 340px;
  font-size: $f-38;

  @include sm_devices() {
    font-size: $f-28;
    min-height: 254px;
    padding: 35px 15px;
  }

  p {
    font-size: $f-40;
    line-height: $lh-46;

    @include sm_devices() {
      font-size: $f-30;
      line-height: $lh-36;
      margin-bottom: 30px !important;
    }
  }

}