@import './mixins';
@import "./variables";

.main_layout {
    .main_body {
        width: 100%;
        overflow-y: auto;
        min-height: calc(100vh - 60px);

        .main_inner_body {
            height: calc(100vh - 60px);
            padding: 1rem;
            overflow-y: scroll;
        }

        &.full {
            width: 100%;
            margin-left: 0;
        }

        @include lg_devices() {
            width: 100% !important;
            margin-left: 0px !important;
            min-height: calc(100vh - 140px);
        }
    }
}

.IC_Login {
    @include xl_devices() {
        display: none !important;
    }
}

.Login_container{
    [class~="login_form"]{
        background-color: $white;
    }
}