@import './mixins';

.mainLayout {
    display: flex;
}

.mainBody {
    width: calc(100% - 60px);

    @include lg_devices() {
        width: 100%;
    }
}

.Page_layout {
    min-height: calc(100vh - 120px);

    @include lg_devices() {
        min-height: calc(100vh - 118px);
    }

    .Page_content {
        width: calc(100% - 260px);
        margin-left: 260px;
        overflow-y: auto;
        min-height: calc(100vh - 120px);
        // padding: 1rem;

        .main_inner_body {
            height: calc(100vh - 120px);
            // padding: 1rem;
            overflow-y: scroll;
        }

        &.full {
            width: 100%;
            margin-left: 0;
        }

        @include lg_devices() {
            width: 100% !important;
            margin-left: 0px !important;
            padding: 10px !important;
        }
    }
}