@import './mixins';

.main_layout {
    .main_body {
        width: 100%;
        overflow-y: auto;
        min-height: calc(100vh - 120px);
        // padding: 1rem;

        .main_inner_body {
            height: calc(100vh - 120px);
            // padding: 1rem;
            overflow-y: scroll;
        }

        &.full {
            width: 100%;
            margin-left: 0;
        }

        @include lg_devices() {
            width: 100% !important;
            margin-left: 0px !important;
            padding: 10px !important;
        }
    }
}