@import '../../../styles/mixins';
@import '../../../styles/variables';

.CustomTabs {
    [class~="custom-ul"] {
        border-bottom: 1px solid $primary-200;
    }

    [class~="nav-tabs"] {
        [class~="nav-link"] {
            padding: 6px 23px;
            position: relative;
            color: $primary-600;
            border: none;
            font-size: $f-16;
        }
    }

    [class~="nav-tabs"] {
        [class~="active"] {
            color: $primary-700;
            font-weight: $fw-700;
            border-bottom: 3px solid $action-500 !important;
        }
    }
}