@import '../../styles/mixins';
@import '../../styles/variables';


.Cus_Nav {
    height: 70px;

    @include lg_devices {
        height: 67px;
        padding: 0px !important;
    }

    .Cus_inner {
        padding-left: 10px;
        padding-right: 10px;

        @include lg_devices {
            padding-left: 0px;
            padding-right: 0px;
            justify-content: left !important;
        }
    }

    [class~="custom_toggle"] {
        span {
            width: 18px;
            height: 16px;
            background-image: url(../../assets/icons/Menu.svg);
        }
    }

    [class~="nav-link"] {
        color: $white;
        padding-right: 15px !important;
        padding-left: 15px !important;

        &:active {
            color: $action-500 !important;
        }

        &:focus {
            color: $white !important;
        }

        &:hover {
            color: $white;
        }
    }

    [class~="navbar-brand"] {
        color: $white;

        @include xl_devices {
            display: none;
        }

        &:active {
            color: $action-500 !important;
        }

        &:focus {
            color: $white !important;
        }

        &:hover {
            color: $white;
        }
    }

    [class~="nav-link"][class~="active"],
    [class~="nav-link"][class~="show"] {
        color: $action-500 !important;
    }
}