@import '../../styles/mixins';
@import '../../styles/variables';

.Sidebar_001 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  background: $primary-100;

  [class~="collapse-bar"] {
    position: absolute;
    width: 20px;
    height: 30px;
    right: -10px;
    top: 20px;
    border-radius: $border_radius;
    cursor: pointer;
    z-index: 2;

    img {
      position: relative;
      align-self: unset;
      width: 15px;
      height: 15px;
      left: 3px;
      // top: 2px;
    }
  }

  [class~="collapeIcon"] {
    rotate: 180deg;
  }
}

.sidebar {
  position: relative;

  [class~="profile_section"] {
    border-bottom: 1px solid $primary-200;
    min-height: 70px;
    padding: 30px;

    img {
      width: 100px;
      height: 100px;
    }

    h4 {
      margin-top: 15px;
      font-size: $f-20;
      line-height: $lh-16;
      font-weight: $fw-700;
    }
  }

  width: 260px;
  min-height: calc(100% - 106px);
  overflow: hidden;
  outline: none;
  z-index: 1;
  overflow-y: auto;
  background: $primary-100;
  transition: width 1s ease-out;

  .sidebar-item-list {
    align-items: center;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      a {
        width: 100%;
        height: 60px;
        color: $primary-700;
        text-decoration: none;
        font-weight: 400;
        display: flex;
        transition: all 0.2s ease-in-out;
        padding: 15px 15px;
        font-size: 14px;
        border-right: 4px solid $primary-100;
        // border: 1px solid $primary-200;

        svg,
        div {
          align-self: center;
        }

        &.active {
          color: $primary-700;
          text-decoration: none;
          background: $primary-200;
          font-weight: 600;
          // border-right: 4px solid $primary-800;

          svg {
            path {
              fill: $primary-700;
            }
          }
        }

        &:hover {
          color: $primary-700;
          text-decoration: none;
          background: $primary-200;
          font-weight: 600;
          // border-right: 4px solid $primary-800;

          svg {
            path {
              fill: $primary-800;
            }
          }
        }

        div {
          &:first-child {
            margin-right: 15px;
          }
        }

        img {
          width: 19px;
          height: auto;
          // filter: grayscale(1);
        }
      }
    }
  }
  [class~="Bread_crump"] {
    height: 70px;
    background-color: $primary-650;
    color: $white;
    padding: 15px;
    display: flex;
    align-items: center;
    h4{
      font-size: $f-16;
      font-weight:$fw-700;
      line-height: $lh-16;
    }
  }
}

@include lg_devices {
  .sidebar {
    width: 0px;
  }

  .mobileSide {
    width: 255px;
    height: calc(100% - 106px);
    overflow: hidden;
    outline: none;
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    left: 0;
    background: blue;
  }
}


.sidebar[class~="Closebar"] {
  width: 60px;
  min-height: calc(100% - 106px);
  overflow: hidden;
  outline: none;
  z-index: 1;
  overflow-y: auto;
  background: $primary-100;
  transition: width 1s ease;

  [class~="profile_section"] {
    border: 1px solid $primary-200;
    min-height: 70px;
    padding: 19px 5px;

    img {
      width: 30px;
      height: 30px;
    }

    h4 {
      display: none;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      a {
        width: 100%;
        height: 60px;
        color: $primary-700;
        text-decoration: none;
        font-weight: 400;
        display: flex;
        transition: all 0.2s ease-in-out;
        padding: 15px 15px;
        font-size: 14px;
        border-right: 4px solid $primary-100;
        border: 1px solid $primary-200;

        svg,
        div {
          align-self: center;

          p {
            display: none;
          }
        }

        &.active {
          color: $primary-800;
          text-decoration: none;
          background: $primary-700;
          font-weight: 600;
          border-right: 4px solid $primary-800;

          svg {
            path {
              fill: $primary-700;
            }
          }
        }

        &:hover {
          color: $primary-800;
          text-decoration: none;
          background: $primary-700;
          font-weight: 600;
          border-right: 4px solid $primary-800;

          svg {
            path {
              fill: $primary-800;
            }
          }
        }

        div {
          &:first-child {
            margin-right: 15px;
          }
        }

        img {
          width: 19px;
          height: auto;
          // filter: grayscale(1);
        }
      }
    }
  }

}