@import '../../styles/mixins';
@import '../../styles/variables';

.Customfooter{
    width: 100%;
    height: 50px;
    @include lg_devices(){
        // display: none;
        background-color: red;

    }
    .copyText{
        font-size: $f-12;
        align-self: center;
        // font-weight: $fw-700;
    }
}