@import "../../../styles/variables";
@import '../../../styles/mixins';

.form_input {
    position: relative;
    border: 1px solid $primary-200;


    [class~="input"] {
        border-radius: $border_radius_3px;
        height: 44px;
        width: 640px;
        font-size: $f-16;
        border: none;
        padding: 12px 0px 11px 14px;
        font-weight: $fw-400;
        outline: 0px;
        color: $primary-700;
        border: 1px solid $primary-200;

        &::placeholder {
            height: 21px;
            font-size: $f-16;
            line-height: 20.7px;
            color: $primary-400;
        }

        &:active {
            border: 1px solid $primary-200;
            outline: 0px;
        }
    }

    [class~="form_input_copy_icon"] {
        display: grid;
        width: 48px;
        height: 44px;
        border: 1px solid $primary-200;
        border-left: 0px;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    [class~="form_input_edit_icon"] {
        // position: absolute;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px;
        color: $action-500;
        top: 0;
        right: 10px;

        &:hover {
            cursor: pointer;
        }
    }



}